
FinalCustomEntry/FinalCustomEntry/bin/

FinalCustomEntry/FinalCustomEntry/obj/

FinalCustomEntry/FinalCustomEntry.Android/bin/

FinalCustomEntry/FinalCustomEntry.Android/obj/

FinalCustomEntry/FinalCustomEntry.iOS/obj/
